# Kconfig - I2C Slave VIRTIO driver

# Copyright (c) 2023, STMICROLECTRONICS
#
# SPDX-License-Identifier: Apache-2.0

config I2C_VIRTIO_DEV
	bool "I2C Slave VIRTIO driver"
	select CONFIG_OPENAMP
	select I2C_TARGET
	select CONFIG_I2C_TARGET_BUFFER_MODE
	default n
	help
	  Enable virtual I2C Slave VIRTIO driver
